set ignorecase
set smartcase
set scrolloff=3         " 3 lines above/below cursor when scrolling
set ideajoin

set surround
set commentary
set multiple-cursors

set incsearch

set visualbell
set noerrorbells


imap jk <C-c>

" Add back sane fold keybinds
nnoremap zC :action CollapseRegionRecursively<CR>
nnoremap zO :action ExpandRegionRecursively<CR>
" zo Open one fold under the cursor. When a count is given, that many folds deep will be opened. In Visual mode one level of folds is opened for all lines in the selected area.
" zc Close one fold under the cursor. When a count is given, that many folds deep are closed. In Visual mode one level of folds is closed for all lines in the selected area. 'foldenable' will be set.
" zM Close all folds: set 'foldlevel' to 0. 'foldenable' will be set.
" zR Open all folds. This sets 'foldlevel' to highest fold level.
"
" key bindings for quickly moving between windows
" h left, l right, k up, j down
nmap <leader>h <c-w>h
nmap <leader>l <c-w>l
nmap <leader>k <c-w>k
nmap <leader>j <c-w>j

" Insert line above.
nnoremap [<space> O<esc>0C<esc>j
" Insert line below.
nnoremap ]<space> o<esc>0C<esc>k
" Insert space before in normal mode.
nnoremap <space>[ i<space><esc>l
" Insert space after in normal mode.
nnoremap <space>] a<space><esc>h
" Previous method.
nnoremap [m :action MethodUp<cr>
" Next method.
nnoremap ]m :action MethodDown<cr>

let mapleader = " "
map <leader>a :action $SelectAll<CR>
map <leader>b :action GotoDeclaration<CR>
map <leader>c :action $Copy<CR>
map <leader>e :action RecentFiles<CR>
map <leader>f :action Find<CR>
map <leader>g :action GotoLine<CR>
map <leader>h :action TypeHierarchy<CR>
map <leader>i :action ImplementMethods<CR>

map <leader>m :action EditorScrollToCenter<CR>

map <leader>n :action FileChooser.NewFolder<CR>
map <leader>o :action OverrideMethods<CR>
map <leader>p :action ParameterInfo<CR>

map <leader>r :action $Redo<CR>
map <leader>s :action SaveAll<CR>
map <leader>t :action Vcs.UpdateProject<CR>
map <leader>k :action Vcs.QuickListPopupAction<CR>
map <leader>u :action GotoSuperMethod<CR>

map <leader>v :action EditorCreateRectangularSelection<CR>
map <leader>w :action EditorSelectWord<CR>
map <leader>x :action $Cut<CR>
map <leader>y :action EditorDeleteLine<CR>

map <leader>cd :action ChooseDebugConfiguration<CR>
map <leader>rr :action Run<CR>
map <leader>cr :action ChooseRunConfiguration<CR>
